@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  margin: 0  auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  padding-right: 1em;
  padding-top: 1em;
}

.menu > i {
  font-size: 25px;
}

.myname {
  width: 270px;
  height: 80px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #1a2236;
  margin-left: 1rem;
  line-height: 100%;
}

.headline-p {
  width: 340px;
  height: 120px;
  margin-left: 1rem;
  margin-right: 0.75rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #1a2236;
  line-height: 21px;
  letter-spacing: -0.01em;
}

.headline-btn {
  width: 340px;
  height: 50px;
  margin: 1.5rem 1rem 0 1rem;
  background: #1a2236;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  border: none;
}

.headline-btn:hover {
  background: #fff;
  color: #1a2236;
}

.headline-img {
  height: 375px;
  margin-top: 2rem;
  background-image: url("./images/image_geometry_2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .headline-p {
    width: 100%;
    height: 10%;
  }

  .headline-btn {
    width: 95%;
  }

  .headline-img {
    background-size: cover;
  }
}
